{% extends 'base.html' %}

{% block content %}
    <h2>Users List</h2>
    <h3>Number of Users: {{user_count}}</h3>
    <a href="{% url 'generate' %}">Generate Users</a> <br>
    <a href="{% url 'sendEmail' %}">Send Email</a> <br>
    <a href="{% url 'sendEmailCelery' %}">Send Email With Celery</a>

    <ul>
        {% for user in object_list %}
            <li>{{ user.username }} - {{ user.email }} - {{ user.date_joined }}</li>
        {% empty %}
            <li>No users</li>
        {% endfor %}
    </ul>
{% endblock %}